<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Poll</title>
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <link
            type="text/css"
            rel="stylesheet"
            href="../static/bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="../static/style.css"
    />
</head>
<body>
    <div class="title">
        <h1> Poll {{ id }}</h1>
    </div>

    <div class="content">
        <h2>Do you want to subscribe?</h2>
        <button class="yes">Yes</button> <button class="no">No</button>
        <br />
    </div>

    <div class="subscribed"></div>

    <script>
        $('.no').on("click", function(){
            alert("Then why are you even here!");
        });

        $('.yes').on("click", function(){
//            var email = document.getElementById('email').value;
            var apiURL = '/api/polls/subscribe/{{ id }}?' //email=' + email;
            $.post(apiURL)
                .done(function(secret){
                    var api_url = "<h3>Send GET and POST requests to this API URL to record query parameters:</h3><br />  http://localhost:5000/api/polls/{{ id }}";
                    var url = "<h3>Go here to view results: </h3><br/>http://localhost:5000/polls/{{ id }}/" + secret;
                    $('.subscribed').append(api_url, "<br />", url)
                });
        })


    </script>
</body>
</html>