<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Poll</title>
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <link
            type="text/css"
            rel="stylesheet"
            href="../static/bower_components/bootstrap/dist/css/bootstrap.css"
    />
</head>
<body>
    <h1> Poll {{ id }}</h1>
    <p>Do you want to subscribe?</p>
    <button class="yes">Yes</button> <button class="no">No</button>
    <br />

    <script>
        $('.no').on("click", function(){
            alert("Then why are you even here.");
        });

        $('.yes').on("click", function(){
//            var email = document.getElementById('email').value;
            var apiURL = '/api/polls/subscribe/{{ id }}?' //email=' + email;
            $.post(apiURL)
                .done(function(secret){
                    var api_url = "Send GET and POST requests to this API URL to record query parameters:  http://localhost:5000/api/polls/{{ id }}"
                    var url = "Go here to view results: http://localhost:5000/polls/{{ id }}/" + secret;
                    $('body').append(api_url, "<br />", url)
                });
        })


    </script>
</body>
</html>